<div class="md:container mx-auto my-10 py-10 px-5 rounded-lg shadow-xl bg-white">
  <div class="grid md:grid-cols-2 gap-8">
    <div>
      <h1 class="text-3xl text-gray-800 font-bold">Matt Ruiz</h1>
      <h4 class="text-xl text-gray-500 mt-2">Principal Software Engineer</h4>
      <p class="mt-4">
        Hello, I'm a software engineering leader with 18+ years of experience in designing and developing complex web
        applications, guiding engineering teams, and delivering successful, sustainable products. I'm fluent in the
        Rails technology stack, and have substantial experience in operations and infrastructure in AWS.
      </p>
      <div class="mt-4">
        <a href="https://twitter.com/matthewtruiz" class="float-left" title="Twitter account for @matthewtruiz">
          <img src="twitter-icon-blue.png" class="h-8" alt="Twitter icon" />
        </a>
        <a href="https://www.linkedin.com/in/matthewtruiz" class="float-left pl-2" title="LinkedIn account for matthewtruiz">
          <img src="linkedin-icon-blue.png" class="h-8" alt="LinkedIn icon" />
        </a>
        <a href="https://polywork.com/mtruiz" class="float-left pl-2" title="Polywork account for mtruiz">
          <img src="polywork-icon.png" class="h-8" alt="Polywork icon" />
        </a>
      </div>
    </div>
    <div>
      <img src="profile-photo.png" class="rounded-lg" alt="Portrait of Matt in front of a brick wall" />
    </div>
  </div>
</div>
